@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 242, 204, 182;
  --background-start-rgb: 26, 46, 64;
  --background-end-rgb: 2, 56, 89;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
} 